{% extends "base.html" %} {% block content %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h2>Chatbot</h2>
      </div>
      <div class="card-body">
        <div
          id="chatbox"
          class="form-control"
          style="height: 300px; overflow-y: auto"
        ></div>
        <form id="chat-form" class="mt-3">
          <div class="input-group">
            <input
              type="text"
              id="message"
              name="message"
              placeholder="Écrivez votre message..."
              class="form-control"
              required
            />
            <div class="input-group-append">
              <button type="submit" class="btn btn-primary">Envoyer</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}
<script>
  $(function () {
    // Configurer AJAX pour inclure le token CSRF
    $.ajaxSetup({
      headers: {
        "X-CSRFToken": $('meta[name="csrf-token"]').attr("content"),
      },
    });

    $("#chat-form").on("submit", function (event) {
      event.preventDefault();
      const messageInput = $("#message");
      const message = messageInput.val();
      messageInput.val("");

      console.log("Sending message:", message); // Log the message being sent

      const chatbox = $("#chatbox");
      chatbox.append(`<p><strong>Vous:</strong> ${message}</p>`);

      $.ajax({
        url: "/send_message",
        type: "POST",
        data: { message: message },
        success: function (response) {
          console.log("Received response:", response); // Log the received response
          chatbox.append(
            `<p><strong>Chatbot:</strong> ${response.response}</p>`
          );
          chatbox.scrollTop(chatbox[0].scrollHeight); // Scroll to the bottom
        },
        error: function (xhr, status, error) {
          console.error("Error:", error);
          console.log("XHR:", xhr);
          console.log("Status:", status);
        },
      });
    });
  });
</script>
{% endblock %}
